## DATABASE
PROD_DB_NAME=xianfires-prod-db
PROD_DB_PASSWORD=
PROD_DB_USER=root
PROD_DB_HOST=locahost
PROD_DB_PORT=

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

CI_DB_NAME=
CI_DB_PASSWORD=
CI_DB_USERNAME=

## FIREBASE
# FIREBASE_API_KEY=
# FIREBASE_AUTH_DOMAIN=
# FIREBASE_PROJECT_ID=

## CRYPTOGRAPHY
ARGON2_TYPE=2 
    # 0 = argon2d
    # 1 = argon2i
    # 2 = argon2id
ARGON2_PARALLELISM=1
ARGON2_MEMORY_COST=64
ARGON2_HASH_LENGTH=64

SECRET_KEY=

## ETC
PORT=3000
ENV=development
    # or production