# APPLICATION
NODE_ENV=development
PORT=3000
SECRET_KEY=super_secret_key_123

# MYSQL CONTAINER
MYSQL_DATABASE=xianfire_database
MYSQL_USER=xianfire_user
MYSQL_PASSWORD=xianfire_password
MYSQL_ROOT_PASSWORD=xianfire_root_password

# REDIS
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# MAILPIT
# MAIL_HOST=mailpit
# MAIL_PORT=1025

# MAIL_FROM_ADDRESS=noreply@xianfire.local
# MAIL_FROM_NAME=XianFire


# ARGON2
ARGON2_TYPE=2 # 2 = argon2id
ARGON2_TIME_COST=2
ARGON2_MEMORY_COST=19456
ARGON2_PARALLELISM=1
ARGON2_HASH_LENGTH=32