# ==========================================
# APPLICATION
# ==========================================

NODE_ENV=development
PORT=3000

SECRET_KEY=


# ==========================================
# DATABASE
# ==========================================

DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=xianfire
DB_USER=xianfire
DB_PASSWORD=


# ==========================================
# MYSQL CONTAINER
# ==========================================

MYSQL_DATABASE=xianfire
MYSQL_USER=xianfire
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=


# ==========================================
# REDIS
# ==========================================

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=


# ==========================================
# MAILPIT
# ==========================================

MAIL_HOST=mailpit
MAIL_PORT=1025

MAIL_FROM_ADDRESS=noreply@xianfire.local
MAIL_FROM_NAME=XianFire


# ==========================================
# FIREBASE
# ==========================================

FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=


# ==========================================
# ARGON2
# ==========================================

ARGON2_TYPE=2
ARGON2_TIME_COST=2
ARGON2_MEMORY_COST=19456
ARGON2_PARALLELISM=1
ARGON2_HASH_LENGTH=32